<div>
  <h2>Perfil Usuario</h2>
  <p>
    <input type="text" [(ngModel)]="filtro" >
  </p>
  <table (mouseover)="changeBack()" [class]="backClass">
    <tr>
      <th>ID</th>
      <th>DESCRIPCION</th>
      <th>TIEMPO</th>
      <th>USUARIO</th>
    </tr>
    <tr *ngFor="let unaT of tareas | filtrador:filtro:'descripcion'">
      <td >{{unaT.tid}}</td>
      <td ><a [routerLink]="['/tareas/',unaT.tid]">{{unaT.descripcion}}</a></td>
      <td >{{unaT.duracion}}</td>
      <td >{{getUsuarioName(unaT.usuario)}}</td>
    </tr>
  </table>
  <p>
    <a [routerLink]="['/tareas/new']">[+]Nuevo</a>
  </p>
</div>